DISCORD_TOKEN=your_new_token_here
CLIENT_ID=1484122403910189066
GUILD_ID=1473182059617849375
SUPABASE_URL=https://wmmslqlvgdpmruhdgbqf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtbXNscWx2Z2RwbXJ1aGRnYnFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4OTIyNDUsImV4cCI6MjA4ODQ2ODI0NX0.Id_TLPX7GnJ9YCzspUUSYaNZSDzMK6vHQ6jGzxsbla4
ADMIN_USER_IDS=890629602341433375
CHANNEL_ID=1474084595401097338
GEMINI_API_KEY=AIzaSyCd0tVxfmT11fTstjnw6AAv5_RxGBk3FM0
APP_URL=https://vhxframeworks.onrender.com
